
@{
    ViewBag.Title = "SeasonSerieForEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Редактирование серий</h3>

<div>
    <h3>@ViewData["Name"]</h3>

    <table>
        <tr>
            <th>Название</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var b in ViewBag.Series)
            {
            <tr>
                <td>@b.Title</td>
                @*<td>@Html.ActionLink("Edit", "SerieEdit", "Edit", new { id = @b.Id }, new { @class = "q1" })</td>*@
                <td><a href="/Edit/SerieEdit/@b.Id">Редактировать</a></td>
                <td><a href="/Edit/SerieDelete/@b.Id">Удалить</a></td>
            </tr>
        }
    </table>
    <div><h4><a href="/Edit/SerieAdd/@ViewData["ID"]">Добавить серию</a></h4></div>
</div>