
@{
    ViewBag.Title = "MyArticles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        text-indent: 20px; /* Отступ первой строки в пикселах */
    }
</style>
<h2>Статьи</h2>
<div style="width:calc(100% - 100px);">
    <div>
        <p>
            Постепенно и ненавязчиво сериалы один за другим вошли в нашу жизнь, наполняя ее недостающими эмоциями и чувствами. Смотреть их любят все: от мала
            до велика. Особенно просмотром сериалов увлекаются пожилые люди. Что заставляет их день за днем следить за жизненными перипетиями вымышленных персонажей?
            Какое влияние оказывают сериалы на психику человека?
            Кино... с надеждой
        </p>
    </div>
    <div>
        <p>
            С выходом на пенсию у человека появляется много свободного времени. Бабушки любят заниматься домашним хозяйством и смотреть сериалы. Зачастую им
            не хватает общения. Даже формально не будучи одинокими, на психологическом уровне дают людям чувство занятости, ведь просмотр требует много времени.
            Для тех, кому не хватает общения, сериал может служить темой для разговора. Для них телегерои становятся чуть ли не членами семьи: их любят, за них
            переживают, им сочувствуют. В этом большой психотерапевтический эффект: я немного попереживаю за другого, и самому немножко полегче будет.
            Герои сериалов — выдуманные, и поэтому человек может спокойно иронизировать над их нелегкой жизнью и успокаивать себя, что наша жизнь немного легче.
            Определенная цикличность, знание того, что будет еще много серий, помогает снизить уровень тревоги и дает ощущение надежности.
            Наполняя жизнь пожилого человека необходимым эмоциональным зарядом, сериалы предотвращают уныние и депрессию. А, как известно, поддержание эмоционального
            здоровья не менее важно, чем поддержание физического. По сути, здоровые эмоции — основа крепкого физического здоровья. Таким образом, можно с уверенностью сказать:
            если вам нравятся сериалы, смотрите на здоровье! имея детей, внуков, правнуков, пожилые люди все же бессознательно чувствуют одиночество и пытаются
            заполнить эмоциональную пустоту с помощью сериальных переживаний. В чем же положительная сторона сериалов?
        </p>
    </div>
    <div>
        <p>
            Сериалы
            На самом интересном месте
            По мнению психологов, создатели сериалов ловят своих зрителей на так называемые «психологические крючки». После очередной серии у человека возникает непреодолимое
            желание посмотреть продолжение. В этом суть эффекта незавершенного действия, известного еще с 30-х годов прошлого века. Он состоит в том, что деятельность, которую
            человек не закончил, запоминается лучше всего. Сериалы построены с учетом этого эффекта, они прерываются на самом интересном месте.
            Большинство сериалов как зеркало отражают реальную жизнь, и смотреть серию за серией зрителя заставляет, с одной стороны, идентификация с героем, а с
            другой — желание подсмотреть за чужой жизнью «через замочную скважину».
            Во всем виновата реклама!
        </p>
    </div>
    <div>
        <p>
            Самые первые сериалы транслировали... по радио, собирая у радиоприемников домохозяек.
            Первая мыльная опера вышла в эфир американского радио 10 октября 1932 года. А первым спонсором радио-сериалов была известная компания «Procter&Gamble». Во время
            передачи она рекламировала мыльный порошок Oxydol. А прижилось название «мыльная опера» с легкой руки одного критика, именно так назвавшего сериалы в одной из своих статей о радио. Со временем мыльные оперы с успехом поселились в наших телевизорах.
            Напомним, ранее мы рассказывали, чем опасен телевизор.
        </p>
    </div>

</div>

